@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css) ;
html{font-family:"Nanum Gothic",Helvetica, Arial, Sans-serif;-webkit-text-size-adjust :none}
*{margin:0;padding:0}
ul,ul li{list-style-type:none}
.blind{position:absolute;z-index:-1;text-indent:-9999em;font-size:0;width:0;height:0;visibility:hidden}
.btn{display:inline-blocktext-align:center;color:#fff;outline:none;border:none}
.scroll-wrap{position:relative}
.scroll-wrap .scroll{margin:0 auto;width:500px;position:relative;left:0;overflow:hidden}
.scroll-wrap .list{zoom:1;position:relative}
.scroll-wrap .list:after{content:".";display:block;clear:both;font-size:0;height:0;visibility:none}
.scroll-wrap .item{float:left;position:relative}
.scroll-wrap .item .photo img{width:100%}
.scroll-wrap .item .desc{position:absolute;right:20px;top:20px;font-size:20px;color:#fff;z-index:1}
.scroll-wrap .paging{margin:10px auto;padding:10px;width:300px;text-align:center}
.scroll-wrap .paging a{margin:0 5px;display:inline-block;width:14px;height:14px;background:url(images/indicator_off.png) 0 0 no-repeat}
.scroll-wrap .paging a:hover,.scroll-wrap .paging a.on{background-image:url(images/indicator_on.png)}
.scroll-wrap .btn-wrap{}
.scroll-wrap .btn-wrap .btn{position:absolute;width:35px;height:67px;cursor:pointer}
.scroll-wrap .btn-wrap .btn-prev{left:10px;top:50%;margin-top:-60px}
.scroll-wrap .btn-wrap .btn-next{right:10px;top:50%;margin-top:-60px}

.scroll-wrap .btn-wrap .btn-prev{background:url(images/btn_prev.png) 0 0 no-repeat;left:20px}
.scroll-wrap .btn-wrap .btn-next{background:url(images/btn_next.png) 0 0 no-repeat;right:20px}
.scroll-wrap .btn-wrap .btn-prev:hover{background-image:url(images/btn_prev_on.png)}
.scroll-wrap .btn-wrap .btn-next:hover{background-image:url(images/btn_next_on.png)}
		
.comment{padding:30px 20px 50px;}
.comment h1{margin-bottom:20px}
.comment h2{margin-bottom:5px;font-size:13px;font-weight:normal}
.comment h3{margin:40px 0 10px 0}
.comment ol{margin-left:20px}
.comment li{margin-bottom:5px;font-size:12px;line-height:15px}
copyright{display:block;padding:30px 20px;font-size:11px}